.title {
    font-size: 25px;
    height: 70px;
    margin: 0;
}
.vote {
    width: 3.8rem;
    font-size: 2rem;
    height: 3.8rem;
    line-height: 3.8rem;
    position: absolute !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    right: .5rem;
    top: .5rem;
    font-weight: 400;
    background:#01d277;
    box-shadow: 0.1rem 0.2rem 1.5rem 0.9rem rgba(98, 39, 116, 0.3);
}
